**/packages/*
**/[Bb]in/
**/[Oo]bj/
**/[Ll]og*/
*.user
*.suo
*.userprefs
*.sln.docstates
*.tmp
*.temp
*~
*.swp
.project
.project.assets.json
.nuget/
.DS_Store
TestResults/
coverage/
Migrations/
*.out
*.xml
.env
**/bin/*
.sonarqube
.vscode/
**/Migrations/*