:root {
  $font-stack: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --line-height: 1.5;
  --font-weight: 400;
  --color-scheme: light dark;
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 17, 17, 17;
  --background-end-rgb: 17, 17, 17;
  --background-color: #111111;
  --font-synthesis: none;
  --text-rendering: optimizeLegibility;
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;

  font-family: #{$font-stack};
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  color-scheme: var(--color-scheme);
  color: rgba(var(--foreground-rgb), 0.87);
  background-color: var(--background-color);
  font-synthesis: var(--font-synthesis);
  text-rendering: var(--text-rendering);
  -webkit-font-smoothing: var(--webkit-font-smoothing);
  -moz-osx-font-smoothing: var(--moz-osx-font-smoothing);
}

a {
  text-decoration: inherit;
}

body {
  // background: url("https://img.freepik.com/fotos-premium/fondo-rojo-negro-red-puntos-lineas_542670-3170.jpg?w=996");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  cursor: pointer;
}

@mixin sm {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin md {
  @media (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}
@mixin lg {
  @media (min-width: 1024px) and (max-width: 1280px) {
    @content;
  }
}

@mixin xl {
  @media (min-width: 1280px) and (max-width: 1536px) {
    @content;
  }
}
@mixin xxl {
  @media (min-width: 1536px) {
    @content;
  }
}
